body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("sun.png");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgview {
/*    height: 100%;*/
    background-color: snow;
}

.width50 {
    align-content: center;
    text-align: center;
    height: auto;
    width: 95%;
    margin: auto;
}
    
.index {
    margin: 70px auto;
}

.title {
    font-family: 'Righteous';
    font-size: 65px;
    color: white;
    margin: auto 0px 0px 20px;
}

.orange {
    color: #ff7a00;
}

